
.mechimg { 
    width: 70%;
}

.reflink {
    font-size: small;
}

.datatbl{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 24px;
    width: 75%;
    
}

.datatbl td, .datatbl th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .datatbl tr:nth-child(even){background-color: #f2f2f2;}
  
  .datatbl tr:hover {background-color: #ddd;}
  
  .datatbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .generic{
      
  }

  .brand{
      font-size: 0.5em;
  }

  .class{
      font-size: 0.5em;
  }

  .oral{
      font-size: 0.5em;
  }

  .din{
      font-size: 0.4em;
  }

  .originalMarketDate{
      font-size: 0.5em;
  }
  .currentMarketDate{
      font-size: 0.5em;
  }

  .HCpagelink{
    font-size: 0.5em;

    font-style: italic;
  }
  .HCdirlink{
      font-size: 0.5em;
  
      font-style: italic;
  }

  .toclink{
      font-size: 0.5em;
  }

 .scrollable{
    overflow-y: auto  !important;
    overflow-x: hidden !important;
    height: 700px;
  }
